{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>

body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-color: #fff;
    background-repeat: no-repeat
}



.card {
    margin: 0px 0px;
    padding: 40px 50px;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.2)
}

input,
textarea {
    background-color: #F3E5F5;
    padding: 8px 15px 8px 15px;
    width: 100%;
    border-radius: 5px !important;
    box-sizing: border-box;
    border: 1px solid #F3E5F5;
    font-size: 15px !important;
    color: #000 !important;
    font-weight: 300
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #9FA8DA;
    outline-width: 0;
    font-weight: 400
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}


#tax {
    border-top: 1px lightgray solid;
    margin-top: 10px;
    padding-top: 10px
}

.btn-blue {
    border: none;
    border-radius: 10px;
    background-color: #673AB7;
    color: #fff;
    padding: 8px 15px;
    margin: 20px 0px;
    cursor: pointer
}

.btn-blue:hover {
    background-color: #311B92;
    color: #fff
}

#checkout {
    float: left
}

#check-amt {
    float: right
}

</style>



<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-5" align="center">
            <h4 class="heading">Checkout</h4>
        </div>
    </div>


</div>
<div class="row justify-content-center">
    <div class="col-lg-12">
        <div class="card">
            <div class="row">
                <form method="POST">
                    {% csrf_token %}

                    <div class="col" >
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="form-control-label">Street Address</label>
                                <input type="text" id="cname" name="street_address" placeholder="40/A Colombo Road">
                            </div>
                            <div class="form-group col-md-6 ml-6"><label class="form-control-label">City</label>
                                <input type="text" id="cnum" name="city" placeholder="Negombo">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="form-control-label">Country</label>

                                {{form.country}}
                            </div>


                            <div class="form-group md-6 ml-3">
                                <label class="form-control-label">Postal Code</label>
                                <input type="text" id="cvv" name="postcode" placeholder="11500">
                            </div>
                        </div>
                        <h4 class="mb-3">Payment Options</h4>
                        <div class="d-block my-3">{% for value, name in form.fields.payment_option.choices %}
                            <div class="custom-control custom-radio">
                                <input id="{{ name }}" name="payment_option" value="{{ value }}" type="radio"
                                       class="custom-control-input" required>
                                <label class="custom-control-label" for="{{ name }}">{{ name }}</label>
                            </div>
                            {% endfor %} 
                        </div>

                    </div>


                    <div class="col-lg-6 mt-2">
                        {% for order_item in order.items.all %}

                        <div class="row d-flex justify-content-between px-4">
                            <p class="mb-1 text-left">{{ order_item.quantity }} x {{ order_item.item.name }}</p>
                            <h6 class="mb-1 text-right">{{ order_item.get_total_item_price }}</h6>
                        </div>
                        {% endfor %}

                 <!--       <div class="row d-flex justify-content-between px-4">
                            <p class="mb-1 text-left">Shipping</p>
                            <h6 class="mb-1 text-right">$2.99</h6>
                        </div>
                        <div class="row d-flex justify-content-between px-4" id="tax">
                            <p class="mb-1 text-left">Total (tax included)</p>
                            <h6 class="mb-1 text-right">$26.48</h6>
                        </div>  -->
                        <button class="btn-block btn-blue" type="submit">
                        <span>
                            <span id="checkout">Checkout</span>
                            <span id="check-amt">${{ order.get_total }}</span>
                        </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>



{% endblock %}


<!-- class CheckoutForm(forms.Form): 
street_address = forms.CharField(widget=forms.TextInput()) 
apartment_address = forms.CharField(required=False, widget=forms.TextInput()) 
country = CountryField(blank_label='(select country)').formfield( 
widget=CountrySelectWidget(attrs={ 
'class': 'custom-select d-block w-100', 'id': 'zip' })) 
zip = forms.CharField(widget=forms.TextInput()) 
same_billing_address = forms.BooleanField(required=False)   # --don't need     save_info = forms.BooleanField(required=False)  # --don't need     payment_option = forms.ChoiceField(         widget=forms.RadioSelect, choices=PAYMENT_CHOICES) -->
