<div class="row d-flex justify-content-between px-4">
    <p class="mb-1 text-left">Subtotal</p>
    <h6 class="mb-1 text-right">${{ order.get_total }}</h6>
</div>
<div class="row d-flex justify-content-between px-4">
    <p class="mb-1 text-left">Shipping</p>
    <h6 class="mb-1 text-right">$0.00</h6>
</div>
<div class="row d-flex justify-content-between px-4" id="tax">
    <p class="mb-1 text-left">Total (tax not included)</p>
    <h6 class="mb-1 text-right">${{ order.get_total }} </h6></div>
</div>